<div id="basket-wrapper-div">
	<div class="basket-div">
		<fieldset class="checkboxgroup">
			<p>Sports</p>
			<label ng-repeat="channel in sports">
          <input type="checkbox" name="selectedSportChannels[]" value="{{channel.name}}" ng-model="channel.selected"> {{channel.name}}</label>
		</fieldset>
	</div>
	<div class="basket-div">
		<fieldset class="checkboxgroup">
			<p>News</p>
			<label ng-repeat="channel in news">
          <input type="checkbox" name="selectedNewsChannels[]" value="{{channel.name}}" ng-model="channel.selected"> {{channel.name}}</label>
		</fieldset>
	</div>
	<div class="basket-div">
		<fieldset class="checkboxgroup">
			<p>Checkout</p>
			<label ng-repeat="item in basket">
				<div>{{item}}</div>
		</fieldset>
		    <button ng-click="checkoutClicked()">CHECKOUT</button>
	</div>
</div>